# **1️⃣ 문제 1**

## **1-1. 제시문에 따라 전력 사용량을 입력 받고 적절한 작업을 수행해 주세요.(8점)**
- 아파트 (주택용 저압)을 기준으로, kWh당 전력량요금(원/kWh)은 다음과 같이 계산됩니다.
  - 300kWh이하 사용: 120.0  
  - 300 초과 450 이하 사용: 214.6  
  - 450 초과 사용: 307.3  


- 전력량요금은 계단식으로 적용됩니다.  
 - ex) 480kWh 사용 시  
 전력량요금 = $300 \times 120.0 + 150 \times 214.6 + (480 - 450) \times 307.3 = 77409.0$(원)

- 위의 내용을 기반으로 전력 사용량을 입력받으면 전력량요금을 계산하는 코드를 작성해 주세요.
  - 전력 사용량은 `electric`에, 전력량요금은 `cost`라는 이름의 변수에 저장해 주세요.

**📌조건**
- `if`문 사용

**💚 Test Case**  
- [입력 예시 1]  
  480
  
- [출력 예시 1]  
  77409.0

In [ ]:
### 답안 작성 ###
electric = float(input())

if electric <= 300:
  cost = electric*120.0
elif electric <= 450:
  cost = 300*120.0 + (electric - 300)*214.6
else:
  cost = 300*120.0 + 150*214.6 + (electric - 450)*307.3

print(cost)

480
77409.0

## **1-2. 제시문에 따라 정수를 입력받고 이진수로 바꾸는 코드를 작성하세요.(10점)**
- 십진수를 계속 2로 나누어 그 나머지를 역순으로 나열하면 이진수로 바꿀 수 있습니다.

  - ex)  
  $14 \div 2 = 7 ⋯0$  
  $7 \div 2 = 3 ⋯1$  
  $3 \div 2 = 1 ⋯1$  
  $1 \div 2 = 0 ⋯1$  
  → 위의 과정을 거쳐 나머지로 나온 0, 1, 1, 1을 역순으로 이어붙이면 14를 이진수 1110로 바꿀 수 있습니다!  

- 십진수(0 이상의 정수)를 입력받고 수를 이진수로 바꿔주는 코드를 작성해 주세요.
  - 입력값은 모두 0 이상의 정수라고 가정합니다.  
- 입력받은 값은 `num10` 변수에 저장, 이진수로 바꾼 결과 값은 `result` 변수에 저장해주세요.

**📌조건**
- While문 사용
- 내장함수는 `input`, `int`, `str`만 사용 가능
- `bin`과 같은 이진수 변환 함수 사용 불가 (사용시 0점 처리)

**💚 Test Case**  
- [입력 예시 1]  
  14
  
- [출력 예시 1]  
  1110

In [ ]:
# 입력 받기
num10 = int(input())

### 답안 작성 ###
# 초기 저장값 설정
result = "0" if num10 == 0 else ""

while num10 != 0:
  result = str(num10%2) + result
  num10 = num10//2

print(result)

14
1110

## **1-3. 조건에 따라 입력받은 자연수가 소수인지 판별해주세요.(12점)**
- 소수: 1과 자기 자신 만을 약수로 가지는 수
- 입력받은 자연수는 2 이상이라고 가정하고, `mynum`에 저장해주세요.

**📌조건**
- 작성 시 `break`, `continue` 사용

**💚 Test Case**  
- [입력 예시 1]  
  35
  
- [출력 예시 1]  
  소수가 아닙니다

- [입력 예시 2]  
  17  

- [출력 예시 2]  
  소수입니다!

In [ ]:
### 답안 작성 ###
mynum = int(input())

for i in range(2, mynum+1):
  if mynum==2 or i==mynum:
    print("소수입니다!")
  elif mynum%i == 0:
    print("소수가 아닙니다")
    break
  else:
    continue

35
소수가 아닙니다

In [ ]:
### 답안 작성 ###
mynum = int(input())

for i in range(2, mynum+1):
  if mynum==2 or i==mynum:
    print("소수입니다!")
  elif mynum%i == 0:
    print("소수가 아닙니다")
    break
  else:
    continue

17
소수입니다!

# **2️⃣ 문제 2**

## **2-1. 조건에 따라 문제를 해결해 주세요.(10점)**
- 최대 50개의 정수를 차례로 입력받아 `numbers`라는 리스트에 저장하세요.
- 0이 입력되면 입력을 중단하고 0을 제외한 마지막 세 개의 정수가 출력되는 프로그램을 작셍하세요.
  - 단, 입력받은 정수가 3개 미만일 경우에는 모두 출력하세요.

**💚 Test Case**
- [입력 예시 1]  
15  
35  
55  
75  
95  
0  

- [출력 예시 1]  
55  
75  
95

In [ ]:
### 예시 답안
# 정수를 저장할 리스트 생성하기
numbers = []

# 최대 50개의 정수를 입력받는 부분
for n in range(50):
    num = int(input())
    if num == 0:
        break
    numbers.append(num)

15
35
55
75
95
0

In [ ]:
# 마지막 세 개의 정수를 출력하는 부분
if len(numbers) >= 3:
    result = numbers[-3:]
else:
    result = numbers

for num in result:
    print(num)

55
75
95

## **2-2. 제시문에 따라 리스트를 만들고 적절한 작업을 수행해 주세요. (10점)**
- 사용자로부터 정수 하나를 입력받아 변수 `n`에 저장하세요.
- 이후 사용자에게 **n개**의 단어를 입력받은 후 리스트를 역순으로 바꾸고, 짝수 번째 단어들을 하나의 문자열로 묶어서 출력하세요.
  - 이때, 짝수/홀수 번째의 기준은 역순으로 바뀐 후가 기준이 됩니다.

**💚 Test Case**  
- [입력 예시 1]  
4  
first  
second  
third  
fourth  

- [출력 예시 1]  
'thirdfirst'

In [ ]:
### 예시 답안

words = [] # 단어를 저장할 리스트

## 입력 부분
# 사용자로부터 변수 n을 입력받는 부분
n = int(input())

# 사용자로부터 n개의 단어를 입력받는 부분
for i in range(n):
    word = input()
    words.append(word)

4
first
second
third
fourth

In [ ]:
# 사용자로부터 입력받은 단어를 역순으로 바꾸는 부분
reversed_words = words[::-1]

## 출력 부분
# 리스트를 역순으로 바꾸고 짝수 번째 단어들을 하나의 문자열로 묶는 부분
even_words = []
for word in reversed_words[1::2]:
    even_words.append(word)

''.join(even_words)

'thirdfirst'

## **2-3. 조건에 따라 알맞은 리스트들을 생성하고, 작업을 수행하세요. (10점)**
- 1부터 100까지의 홀수가 들어있는 리스트 `odd_numbers`를 생성하고, 사용자로부터 *3 이상의 정수*를 입력받아 변수 `input_num`에 저장하세요.
- 그리고 `input_num`으로 나누었을 때 나머지가 2가 되는 정수들만으로 구성된 부분 리스트 `result_list`의 원소의 평균값을 출력하는 프로그램을 작성하세요.
  - 이때, 사용자는 3 이상의 정수만을 입력한다고 가정합니다.

**💚 Test Case**  
- [입력 예시 1]  
  5

- [출력 예시 1]  
  52.0

In [ ]:
### 예시 답안
# 1부터 100까지의 홀수가 들어있는 odd_numbers 리스트 생성하기
odd_numbers = list(range(1, 100, 2))

## 입력 부분
# 사용자로부터 정수를 입력받는 부분
input_num = int(input())

# 부분 리스트 result_list를 정의해주세요.
result_list = [num for num in odd_numbers if num % input_num == 2]

## 출력 부분
# result_list의 원소의 평균값을 출력하는 부분
print(sum(result_list)/len(result_list))

5
52.0

## **2-4. 지시문에 따라 작업을 완료해 주세요. (10점)**  
- 사용자로부터 문자열(단어) 1개를 입력받아 해당 문자열을 구성하는 문자들을 리스트에 저장하세요.
- 그 후, 사용자로부터 문자 한 개를 입력받아 리스트에서의 위치를 출력하는 프로그램을 작성하세요.
  - 첫 번째 위치는 0번이며 배열에 없는 문자가 입력되면 "None"이라는 메시지를 출력하세요.
- 단, 문자열(단어)의 글자 수는 2개 이상이라고 가정합니다.

**💚 Test Case**  
- [입력 예시 1]  
문자열을 입력하세요: euron  
찾고자 하는 문자를 입력하세요: r  
- [출력 예시 1]  
r의 위치: 2

In [ ]:
### 예시 답안
# 사용자로부터 문자열 입력 받는 부분
word = input("문자열을 입력하세요: ")

# 문자열을 문자 리스트로 변환
char_list = list(word)

# 사용자로부터 찾고자 하는 문자 입력 받는 부분
char = input("찾고자 하는 문자를 입력하세요: ")

문자열을 입력하세요: euron
찾고자 하는 문자를 입력하세요: r

In [ ]:
# 리스트에서 문자의 위치(인덱스) 찾기
if char in char_list:
    index = char_list.index(char)
    print(f"{char}의 위치: {index}")
else:
    print("None")

r의 위치: 2

# **3️⃣ 문제 3**

### **3-1. 조건에 맞게 미니 계산기를 만들어 주세요. (5점)**
- `self` 옆에는 함수에 필요한 파라미터들이 모두 비워져 있습니다.
  - 적절한 파라미터를 받을 수 있도록 코드를 작성해 주세요.
- 함수 구현부는 모두 "pass"로 작성되어 있습니다.
  - 함수 구현부를 완성하여 함수가 알맞게 작동할 수 있도록 해주세요.

**📌조건**
- 아래 주어진 클래스 `Calculator`는 계산기를 위한 기본 구조로 제공된 것입니다.
  - 여러분이 집중해야 할 부분은 **클래스 내부의 함수들을 완성하는 것**입니다. 각 함수는 다음의 연산을 수행해야 합니다:
    - **더하기(add)**
    - **빼기(subtract)**
    - **곱하기(multiply)**
    - **나누기(divide)**
  
  - 클래스나 객체지향 프로그래밍에 대한 깊은 이해가 없어도 괜찮습니다.  
  클래스는 **문제를 풀기 위한 틀**로 제공된 것일 뿐이며, 각 연산을 수행하는 **함수 구현**에 집중해 주세요.

**💚 Test Case**  
- [입력 예시 1]  
  8 4
  
- [출력 예시 1]  
  더하기:  12  
  빼기:  4  
  곱하기:  32    
  나누기:  2

- [입력 예시 2]  
  3 7
  
- [출력 예시 2]  
  더하기:  10  
  빼기:  -4  
  곱하기:  21    
  나누기:  2

**🔍힌트**
- 클래스 내의 함수를 호출할 때는 다음과 같이 호출합니다.
  - `myCalc.add()`: myCalc(계산기) 내에 정의된 기능 중 더하기 기능을 사용하겠다.

In [ ]:
### 클래스 및 함수 정의

class Calculator:
  ### 예시 답안
  def add(self, num1, num2):
    return num1 + num2

  ### 예시 답안
  def subtract(self, num1, num2):
    return num1 - num2

  ### 예시 답안
  def multiply(self, num1, num2):
    return num1 * num2

  ### 예시 답안
  def divide(self, num1, num2):
    if num1 > num2:
      return num1 // num2
    else:
      return num2 // num1

In [ ]:
### 함수 호출 및 실행
## 예시답안

## 계산기 선언
myCalc = Calculator() # 계산기 객체 생성

## 연산을 할 두 수 입력받기
num1, num2 = map(int, input('두 수를 공백을 기준으로 입력해 주세요: ').split())

## 사칙연산 수행
# 더하기
ans_add = myCalc.add(num1, num2)
print("더하기: ", ans_add)

# 빼기
ans_sub = myCalc.subtract(num1, num2)
print("빼기: ", ans_sub)

# 곱하기
ans_mul = myCalc.multiply(num1, num2)
print("곱하기: ", ans_mul)

# 나누기
ans_div = myCalc.divide(num1, num2)
print("나누기: ", ans_div)

두 수를 공백을 기준으로 입력해 주세요: 3 7
더하기:  10
빼기:  -4
곱하기:  21
나누기:  2

## **3-2. 제시문에 따라 문제를 해결해 주세요(10점)**

### **제시문**
- 아래 정의된 함수는 가로(w)와 세로(h)의 길이를 입력받아 직사각형의 넓이를 반환해 주는 함수입니다.
  ```python
  ### 함수 정의
  def calculate_square(w, h):
      area = w * h
      return
  ```

- 이제, 입력을 받아 직사각형의 넓이를 계산해 봅시다.
  ```python
  ### 함수 호출 및 실행
  # 실행해 주세요!
  area = 0
  w, h = map(int, input('가로(w)와 세로(h)를 공백을 기준으로 입력하세요: ').split())
  calculate_square(w, h)
  print('직사각형의 넓이: ', area)
  ```

  ```
  가로(w)와 세로(h)를 공백을 기준으로 입력하세요: 3 4
  직사각형의 넓이:  0
  ```

  이런,, 넓이가 0이 나와버렸네요 😭

### **3-2-1.(6점)**
- 아래 셀에서 정의된 함수를 수정하여 함수가 정상적으로 동작할 수 있도록 해주세요.  

**📌조건**
- 함수 "정의" 부분만 수정하셔야 합니다.
  - `호출 및 실행` 부분을 수정하시면 안됩니다.

**💚 Test Case**  
- [입력 예시 1]  
  - 3 4
  
- [출력 예시 1]  
  - 12

In [ ]:
### 함수 정의

def calculate_square(w, h):
    # 해당 부분을 수정해 주세요!

    global area ### 예시답안 ###
    area = w * h
    return

In [ ]:
### 함수 호출 및 실행
# 해당 부분은 수정하시면 안됩니다.

# 실행해 주세요!

area = 0
w, h = map(int, input('가로(w)와 세로(h)를 공백을 기준으로 입력하세요: ').split())
calculate_square(w, h)
print('직사각형의 넓이: ', area)

가로(w)와 세로(h)를 공백을 기준으로 입력하세요: 3 4
직사각형의 넓이:  12

### **3-2-2.(4점)**
- 함수 구현을 위와 같이 수정하신 이유를 2~3줄 정도로 간단히 설명해 주세요.

**예시답안**  
- 함수에는 변수 종류가 두 가지 있습니다.
  - 지역 변수는 함수 내에서 선언되는 변수로, 함수 내세어만 사용됩니다. 따라서, 함수 종료 시 사라지는 변수입니다.
  - 반면, 전역 변수는 함수 외부에서 선언되는 변수로, 어디서나 접근이 가능한 변수입니다.
- 파이썬의 경우 함수 안에서 단순히 전역 변수의 값을 변경하려고 하면, 함수 외부에서는 값이 변경되지 않은 채 그대로 유지됩니다. 따라서, `global`을 사용하여 전역 변수에 값을 저장한다고 알려주어야 합니다.

## **3-3. 제시문에 따라 문제를 해결해 주세요. (15점)**
- 여러분은 특정 규칙에 따라 숫자를 변환하는 프로그램을 작성하려고 합니다. 이 프로그램은 주어진 숫자를 변환하는 두 가지 함수를 제공합니다:
  1. **자리수 뒤집기**: 주어진 숫자의 자리수를 뒤집는 함수 (`reverse_digits()`).
  2. **자리수 합 계산**: 주어진 숫자의 모든 자리수의 합을 구하는 함수 (`sum_of_digits()`).

- 또한, 이 두 함수를 활용하여 주어진 숫자를 변환하는 세 번째 함수를 작성해야 합니다:

  3. **숫자 변환**: 주어진 숫자에 대해 다음과 같은 규칙을 따르는 변환을 수행하는 함수 (`transform_number()`):
      - **짝수**일 경우: 숫자의 자리수를 뒤집은 값을 반환합니다.
      - **홀수**일 경우: 숫자의 모든 자리수의 합을 반환합니다.
      - 결과값이 한 자리 숫자가 아닐 경우, 위 규칙을 반복적으로 적용하여 한 자리 숫자가 될 때까지 변환을 수행합니다.

**📌 조건**:
- 세 번째 함수 `transform_number`는 첫 번째 함수 `reverse_digits`와 두 번째 함수 `sum_of_digits`를 반드시 호출하여 변환을 수행해야 합니다.
  - 예를 들어, 주어진 숫자가 1324라면:
    - 1324는 짝수이므로 자리수를 뒤집어 4231로 변환합니다.
    - 4231은 홀수이므로 자리수의 합을 구하여 10(4+2+3+1)을 얻습니다.
    - 10은 짝수이므로 다시 자리수를 뒤집어 1이 됩니다.
    - 1은 한 자리 숫자이므로 최종 결과는 1입니다.
- 또한, 세 번째 함수는 "재귀 호출" 방식으로 구현해야 합니다.
- 아래 제시한 3개의 test 케이스에 대해서만 통과되도록 코드를 완성하시면 됩니다.
  - 일부 다른 테스트 케이스를 넣는 경우 무한 loop가 발생할 수 있기에 추가된 조건입니다.

**💚 Test Case**
- [입력 예시 1]  
  `transform_number(1324)`  
- [출력 예시 1]  
  1
  
- [입력 예시 2]  
  `transform_number(9876)`  
- [출력 예시 2]  
  3
  
- [입력 예시 3]  
  `transform_number(5)`  
- [출력 예시 3]  
  5

**🔍 힌트**:
- `reverse_digits()`: 문자열 변환
- `sum_of_digits()`: 숫자를 문자열로 변환
- `transform_number()`: 재귀 호출

In [ ]:
### 예시답안

def reverse_digits(num):
  # 숫자를 문자열로 변환하여 뒤집은 후 다시 정수로 변환
  return int(str(num)[::-1])

In [ ]:
### 예시답안

def sum_of_digits(num):
  # 숫자를 문자열로 변환하여 각 자리수를 더한 후 반환
  return sum(int(digit) for digit in str(num))

In [ ]:
### 예시답안

def transform_number(num):
  ## 한 자리 숫자가 되면 종료
  if num < 10:
    return num
  ## 짝수인지 홀수인지 판단하여 해당 함수 호출
  # 짝수인 경우
  if num % 2 == 0:
    transformed_num = reverse_digits(num)
  # 홀수인 경우
  else:
    transformed_num = sum_of_digits(num)

  # 한 자리 숫자가 될 때까지 재귀 호출
  return transform_number(transformed_num)

In [ ]:
### Testing
# 문제에서 제시한 3가지 케이스에 대해 테스트 해주세요!

print(transform_number(1324))  # 출력: 1
print(transform_number(9876))  # 출력: 3
print(transform_number(5))     # 출력: 5

1
3
5

# **4️⃣ 문제 4**

## **4-1. 넘파이(5점)**
- 10부터 49까지의 범위를 가지는 넘파이 벡터를 생성한 후, 저장된 값들을 역순으로 돌려주세요.

**📌 조건**  
-  numpy 내장 함수를 활용해 주세요.
- vec 변수의 type은 `numpy.ndarray`여야 합니다.

In [ ]:
import numpy as np # 넘파이 모듈 호출

# 10부터 49까지의 범위를 가지는 벡터 생성
vec = np.arange(10,50)

# 역순으로 돌려주기
reversed_vec = vec[::-1] # 답안 2) np.flip(vec, axis = p)

# 결과 출력
print(reversed_vec)

[49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26
 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10]

In [ ]:
### 채점용 코드

type(vec) # 풀이는 다르게 하셔도 괜찮으나 ndarray 안나오면 다 오답 처리

numpy.ndarray

## **4-2. 판다스(5점)**
- 제시문에 따라 문제를 해결해 주세요

### **제시문**
- 판다스 모듈을 import하고, 데이터 분석에 활용할 데이터 프레임을 생성하겠습니다.

In [ ]:
### 실행해 주세요!

import pandas as pd # 판다스 모듈 호출

electronics = {'company': ['samsung', 'apple', 'lg', 'apple', 'samsung', 'apple', 'samsung', 'apple'],
               'price': [1000000, 1500000, 1200000, 600000, 650000, 1000000, 180000, 270000],
               'product': ['Galaxy', 'MacBook', 'Gram', 'Watch', 'Z-Flip', 'IPad', 'Buds', 'Airpods']}

electronics = pd.DataFrame(electronics)
electronics

   company    price  product
0  samsung  1000000   Galaxy
1    apple  1500000  MacBook
2       lg  1200000     Gram
3    apple   600000    Watch
4  samsung   650000   Z-Flip
5    apple  1000000     IPad
6  samsung   180000     Buds
7    apple   270000  Airpods

### **문제**
- 제조사(company)가 `apple`인 데이터만 선택하여 `bissa`라는 데이터 프레임을 만들어 주세요.

**🔍 힌트**
- 판다스에는 데이터 프레임에서 특정 조건을 만족하는 데이터를 추출하는 함수가 있어요.

In [ ]:
bissa = electronics.loc[electronics['company'] == 'apple',:] # 답안 2) electronics.query("company == 'apple'") <- 단점: 속도가 loc()보다 느리다..
bissa

  company    price  product
1   apple  1500000  MacBook
3   apple   600000    Watch
5   apple  1000000     IPad
7   apple   270000  Airpods