# **1Ï£ºÏ∞® Î≥µÏäµÍ≥ºÏ†ú**
- 1Ï£ºÏ∞® Î≥µÏäµÍ≥ºÏ†úÎäî **ÎÑòÌååÏù¥/ÌåêÎã§Ïä§ Ïó∞ÏäµÎ¨∏Ï†ú**ÏûÖÎãàÎã§.
- ÏΩîÎìú ÏûëÏÑ±ÌïòÏãúÍ≥†, Ï∂úÎ†• Í≤∞Í≥ºÍπåÏßÄ ÎÇòÏò§ÎèÑÎ°ù Ïã§Ìñâ Î∂ÄÌÉÅÎìúÎ¶ΩÎãàÎã§.
  - Ï†úÏ∂ú Ïãú ÌååÏùºÎ™Ö Î≥∏Ïù∏ Ïù¥Î¶ÑÏúºÎ°ú Î≥ÄÍ≤ΩÌï¥ Ï£ºÏÑ∏Ïöî. ex) Week1_Î≥µÏäµÍ≥ºÏ†ú_OOO
- ÍµêÏû¨ÏóêÏÑú Îã§Î£®ÏßÄ ÏïäÏùÄ Î©îÏÜåÎìúÎèÑ Îã§Ïàò Ìè¨Ìï®ÎêòÏñ¥ ÏûàÏßÄÎßå Íµ¨Í∏ÄÎßÅÏù¥ÎÇò Ï±óÏßÄÌîºÌã∞ Îì±ÏùÑ ÌôúÏö©Ìï¥ÏÑúÎùºÎèÑ ÌíÄÏñ¥Ï£ºÏÑ∏Ïöî! Ìïú Î≤àÏî© ÏÇ¨Ïö©Ìï¥ Î≥¥Î©¥ Ï¢ãÏùÑ Í≤É Í∞ôÏïÑ Ïñ¥Î†§ÏõåÎèÑ Î¨∏Ï†úÏóê Ìè¨Ìï®ÌñàÏäµÎãàÎã§ ü§ó

## **ÎÑòÌååÏù¥**

### 1. Import the numpy package under the name `np`.

### 2. Print the numpy version and the configuration.

(hint: `np.__version__`, `np.show_config`)

### 3. Create a null vector of size 10.

#### ‚úÖ Ï∂úÎ†• ÏòàÏãú


```
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
```

### 4. Create a null vector of size 10 but the fifth value which is 1.

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
```

### 5. Create a vector with values ranging from 10 to 49.

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]
```

### 6. Reverse a vector (first element becomes last).

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[9 8 7 6 5 4 3 2 1 0]
```

### 7. Create a 3x3 matrix with values ranging from 0 to 8.

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[[0 1 2]
 [3 4 5]
 [6 7 8]]
```

### 8. Find indices of non-zero elements from [1,2,0,0,4,0].

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
(array([0, 1, 4]),)
```

### 9. Create a 3x3 identity matrix.

(hint: `np.eye`)

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
```

### 10. Create a 3x3x3 array with random values.

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[[[0.07822074 0.76195472 0.95999111]
  [0.69540693 0.16669248 0.97247214]
  [0.7031054  0.38007668 0.61202825]]

 [[0.41082729 0.42783868 0.17188845]
  [0.71563068 0.36917752 0.17016863]
  [0.90248986 0.07040389 0.40558888]]

 [[0.90725777 0.19353039 0.40379553]
  [0.762831   0.70087899 0.09089228]
  [0.68469463 0.17365128 0.17850461]]]
```

### 11. Create a 10x10 array with random values and find the minimum and maximum values.

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
0.009762523436238846 0.9916129188134726
```

### 12. Create a random vector of size 30 and find the mean value.

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
0.43970256642748734
```

### 13. Create a 2d array with 1 on the border and 0 inside. (size: 10x10)

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]
```

### 14. How to add a border (filled with 0's) around an existing array?

(hint: Ïù∏Îç±Ïã± ÏÇ¨Ïö©)

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
# before
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

 # after
 [[0. 0. 0. 0. 0.]
  [0. 1. 1. 1. 0.]
  [0. 1. 1. 1. 0.]
  [0. 1. 1. 1. 0.]
  [0. 0. 0. 0. 0.]]

```

### 15. What is the result of the following expression?

(Ïã§Ìñâ ÌõÑ, Í≤∞Í≥ºÏóê ÎåÄÌïú Ï£ºÏÑù ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî. ex. Ï∂úÎ†• Í≤∞Í≥ºÏóê ÎåÄÌïú Ïù¥Ïú†)

```python
0 * np.nan
np.nan == np.nan
np.inf > np.nan
np.nan - np.nan
np.nan in set([np.nan])
0.3 == 3 * 0.1
```

### 16. Normalize a 5x5 random matrix.

(hint: (x - mean) / std)

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[[ 1.57158744 -0.5567505  -1.44275417  0.73527327 -1.17233846]
 [ 0.63460149 -0.73078623 -0.62656662 -1.36290509 -0.44364149]
 [ 0.22741386 -1.10400477  0.86652275 -0.95095209  1.38123574]
 [ 0.1921141  -0.30224638 -1.24440971  0.96181116  0.75106165]
 [-1.43422964  0.67492878  1.48089838  0.53420107  1.35993544]]
```

### 17. Multiply a 5x3 matrix by a 3x2 matrix. (real matrix product)

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]
```

### 18. What are the result of the following expressions?

(Ïã§Ìñâ ÌõÑ, Í≤∞Í≥ºÏóê ÎåÄÌïú Ï£ºÏÑù ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî. ex. Ï∂úÎ†• Í≤∞Í≥ºÏóê ÎåÄÌïú Ïù¥Ïú†)

```python
np.array(0) / np.array(0)
np.array(0) // np.array(0)
np.array([np.nan]).astype(int).astype(float)
```

### 19. Create a 5x5 matrix with row values ranging from 0 to 4.

#### ‚úÖ Ï∂úÎ†• ÏòàÏãú

```
[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]
```

### 20. Create a random vector of size 10 and sort it.

#### ‚úÖÏ∂úÎ†• ÏòàÏãú


```
[0.1738448  0.20689089 0.26989562 0.29896317 0.41140555 0.44166027
 0.48569307 0.78561734 0.79300508 0.95618918]

```

## **ÌåêÎã§Ïä§**


### 1. Import pandas under the alias `pd`.

### 2. Print the version of pandas that has been imported.

## 3~20Î≤à Î¨∏Ï†úÎäî ÏïÑÎûò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÏßÑÌñâÎê©ÎãàÎã§.

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

### 3. Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [ ]:
# Î¨∏Ï†ú ÌíÄÏù¥ Ï†Ñ numpy ÏûÑÌè¨Ìä∏
import numpy as np

### 4. Display a summary of the basic information about this DataFrame and its data.  
(hint: there is a single method that can be called on the DataFrame)

### 5. Display a summary of the basic statistics about data of this DataFrame.  
(hint: there is a single method that can be called on the DataFrame)

### 6. Return the first 3 rows of the DataFrame `df`.

### 7. Select just the 'animal' and 'age' columns from the DataFrame `df`.

### 8. Select the data in rows `[3, 4, 8]` **and** in columns `['animal', 'age']`.

### 9. Select only the rows where the number of visits is greater than 3.

### 10. Select the rows where the age is missing, i.e. it is `NaN`.

### 11. Select the rows where the animal is a cat *and* the age is less than 3.

### 12. Select the rows the age is between 2 and 4 (inclusive).

### 13. Change the age in row 'f' to 1.5.

### 14. Calculate the sum of all visits in `df` (i.e. the total number of visits).

### 15. Calculate the mean age for each different animal in `df`.

### 16. Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

### 17. Count the number of each type of animal in `df`.

### 18. Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).
#### ‚úÖÏ∂úÎ†• ÏòàÏãú

 index |animal	| age	|visits|	priority
---|---|---|---|---
i|	dog|	7.0|	2|	no
e|	dog|	5.0|	2|	no
g|	snake|	4.5|	1|	no
j|	dog|	3.0|	1|	no
b|	cat|	3.0|	3|	yes
a|	cat|	2.5|	1|	yes
f|	cat|	1.5|	3|	no
c|	snake|	0.5|	2|	no
h|	cat|	NaN|	1|	yes
d|	dog|	NaN|	3|	yes

### 19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.  
(hint: `map`)

### 20. In the 'animal' column, change the 'snake' entries to 'python'.

In [ ]:
# ÌôïÏù∏Ïö© df Ï∂úÎ†• ÏÖÄ
df

### 21. Given a DataFrame of random numeric values:
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # this is a 5x3 DataFrame of float values
```

how do you subtract the row mean from each element in the row?

In [ ]:
# ÎûúÎç§ ÏãúÎìú Í≥†Ï†ï
np.random.seed(2024)

df = pd.DataFrame(np.random.random(size=(5, 3)))